.cinema
{
	margin-right: 50px !important;
}

.state
{
	padding: 5px !important;
	min-height: 50px;
}

.hours
{
	input[type="text"]{
		width: 100px;
		margin: 20px 54px 20px 12px;
	}
}

.days
{
	input[type="text"]{
		width: 100px;
	    margin: 20px 54px 0 15px;
	}
}